* {
    box-sizing: border-box;
}

body{
padding: 2em;
background-color: rgb(192,181,129);
color:#333;
font:1rem 'Life Savers', cursive;
}

.grid {
    border: 5px solid #fff;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,minmax(100px, auto));
    list-style: none;
    margin: 2em auto;
    padding: 0;
    gap: 5px;
}

.grid li {
    background-color: rgba(255,255,255,.5);
    padding: 1em;
    font-weight: bold;
}

.grid li:nth-child(3) {
    grid-row: span 3;
}

.grid li:nth-child(6) {
    grid-column: span 2;
}

h2 {
    margin-top: 0;
}