.container {
    display:grid;
    /* grid-template-rows: 200px 100px; */
    /* grid-template-rows: auto; */
    /* grid-template-columns: repeat(4, 100px); */

    grid-template-rows: 199px auto 100px;
    grid-template-columns: 100px auto;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer";

    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "sidebar"
    "content"
    "footer";
}

/* .item1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
} */

/* .item2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
} */

/* .header { grid-area: header;}
.sidebar { grid-area: sidebar;}
.footer { grid-area: footer;}
.content { grid-area: content;} */

.dribbbles {
    display: grid;
    width: 880px;
    grid-template-columns: repeat(4, 220px);
    grid-template-areas: 
    ".      .      .      ."
    "advert advert advert advert";
    justify-items: center;
}

.advert {
    grid-area: advert;
}

@media (max-width: 880px) and (min-width: 660px) {
    .dribbbles {
      width: 660px;
      grid-template-columns: repeat(3, 220px);
      grid-template-areas:
        ".      .      ."
        "advert advert advert";
    }
  }