* {
    background: rgb(10, 10, 68);
}

.flex-container {
    display: flex;
    text-align: center;
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items:center; */
    /* align-items: baseline; */
    /* align-content: flex-end; */
}

.flex-item {
    border: 2px solid yellow;
    background-color: yellow;
    height: 400px;
    padding-top: 5%;
    width: 150px;
    margin: 10px;
}