.calender{
    max-width: 800px;
    margin:auto;
    font-family: serif;
}
.month{
    font-size:15px;
    color:black;
    margin:0px 350px 0px 350px;
    
}
table,
th,
td {
    width:50px;
    height: 20px;
    table-layout: fixed;
    text-align:center;
    font-family: serif;
    
}
table{
    border: 10px solid black;
    border-color: yellow;
    border-radius:10px;
    margin:0px 100px 0px 100px
}
tr,
th,
td {
    padding:15px
}
th{
    background:white;
    color:black;
    font-family: serif;

}
td:hover{
    background-color:pink;
    color:white;
    border-radius: 50%;
    cursor: pointer;
}
td[rel="numberCircle"]{
    border-radius: 50%;
    background-color: pink;
    color:white;
}
td[rel="numCircle"]{
    border-radius: 50%;
    background-color: #4682B4;
    color:white;
}
td[rel="numbCircle"]{
    border-radius: 50%;
    background-color: lightgray;
    color:white;
}
th{
    font-weight: normal;
}

.td-color {
    color: #DCDCDC;
}