*{
    margin:0;
    padding: 0;
    outline: 0;
}
.filter {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .7;
    background: rgb(60,103,172);
    background: rgb(60,103,172);
    background: linear-gradient(8deg, rgba(60,103,172,1) 3%, rgba(55,89,166,1) 37%, rgba(186,49,181,1) 100%);
}
table {
    position: absolute;
    z-index: 2;
    left: 25%;
    top: 25%;
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;
    height: 600px;
    background: #fafafa;
    text-align: center;
}
th,td{
    padding: 10px 15px;
}
th{
    background-color:#191970;
    color: #fafafa;
    font-weight: normal;
    font-family: sans-serif;
    text-align: left;
}
#total{
    text-align:right;
}
.money{
    text-align: right;
}
.example1{
    text-align:left;
}
.example2{
    text-align: right;
}
tr:nth-child(odd){
    background-color: #eeeeee;
}
tr:hover {
    font-weight: bold;
}